* {
  margin: 0 auto;
}

.account_form {
  display: none;
  padding: 20px;
  /* display: flex; */
}

h1 {

  text-align: center;

}

/* The side navigation menu */
.sidebar {
  margin-top: 60px;
  padding: 0;
  width: 200px;
  background-color: #f1f1f1;
  position: fixed;
  height: 100%;
  overflow: auto;
}

/* Sidebar links */
.sidebar a {
  display: block;
  color: black;
  padding: 16px;
  text-decoration: none;
}

/* Active/current link */
.sidebar a.active {

  /* background-color: rgb(187, 185, 185); */
  /* color: white; */
}

/* Links on mouse-over */
.sidebar a:hover:not(.active) {
  background-color: white;
  color: black;
}

/* Page content. The value of the margin-left property should match the value of the sidebar's width property */



.appbar {

  width: 100%;
  line-height: 60px;
  color: white;
  background: #f1f1f1;
  display: flex;
  position: fixed;


}

.appbar h1 {

  color: rgb(207, 70, 70);
}

div.content {

  /* margin-top: 60px; */
  padding-top: 65px;
  margin-left: 200px;
  height: 1000px;
  /* background-color: aqua; */

}

#appbar_icon {

  margin: 5px;
  width: 60px;
  height: 50px;

}

.profile {

  display: flex;
  height: 250px;
  overflow: hidden;
  border-radius: .5em;
  border: 2px solid rgb(247, 247, 247);

  background-color: rgb(245, 240, 240);


}

.person_info {
  padding: 20px;
  margin-left: 0px;
}

.person_info h4,
p {
  margin: 10px 0;
  /* Adjust the value as needed */
}

.image_div {
  margin-right: 0px;
  display: flex;
  justify-content: center;
  align-items: center;

}

.personimg {

  max-width: 100%;
  max-height: 100%;
  align-items: center;
  object-fit: fill;

}

.pbold {

  font-weight: bold;
}

.tcolor {
  color: red;
}

.even {
  background-color: #f0f0f0;

}

.odd {
  /* background-color: rgb(245, 235, 235); */
  background-color: #e0e0e0;
}

.image_button {
  width: 100%;
  display: flex;
  margin-right: 0px;
}

.search_bar {

  color: #090909;
  padding: 0.7em 1.7em;
  margin-bottom: 1px;
  font-size: 18px;
  border-radius: 0.5em;
  background: rgb(245, 243, 243);
  cursor: pointer;
  border: 1px solid grey;
  transition: all 0.3s;
  box-shadow: 6px 6px 12px #c5c5c5, -6px -6px 12px #ffffff;
  width: 100%;
  display: flex;
  color:rgb(207, 70, 70); ;
}

.search_bar:active {
  color: #666;
  box-shadow: inset 4px 4px 12px #c5c5c5, inset -4px -4px 12px #ffffff;
}

.search_icon {
  align-items: center;
  justify-content: center;
  margin-right: 0px;
  height: 30px;

}

.popup {

  display: none;
  position: fixed;
  top: 50%;
  /* Center vertically */
  left: 50%;
  /* Center horizontally */
  width: 400px;
  height: 350px;
  transform: translate(-50%, -50%);
  background-color: rgba(0, 0, 0, 0.8);
  /* Semi-transparent black background */
  color: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.popup-content {
  /* text-align: center; */
  position: relative;
  height: 100%;
  width: 100%;


}

.search_button {

  font-size: 20px;
  padding: 0.6em 0.8em;
  border-radius: 0.5em;
  border: none;
  background-color: #000;
  color: #fff;
  cursor: pointer;
  box-shadow: 2px 2px 3px #000000b4;
}
.search_input{
  font-size: 15px;
  padding: 0.6em 0.8em;
  border-radius: 0.5em;
  background-color: #000;
  color: #fff;
  cursor: pointer;
  box-shadow: 2px 2px 3px #000000b4;
}

.search_container {

  position: absolute;
  bottom: 0;
  right: 50%;
  transform: translateX(50%);
  padding: 3px;
  background: linear-gradient(90deg, #03a9f4, #f441a5);
  border-radius: 0.9em;
  transition: all 0.4s ease;

}

.search_container::before {

  background-color: rgba(255, 255, 255, 0.5);
}

.search_container:hover::before {}

.search_container:active::before {}

.person_image {
  display: flex;
  justify-content: center;
  align-items: center;
}

.profile_pic {
  padding-top: 30px;
  vertical-align: middle;
  width: 300px;
  height: 300px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;

}

.account_input {
  width: 100%;
  height: 50px;
  border: 1px solid rgb(209, 206, 206);
  border-radius: 8px;
  font-size: 20px;
  padding-left: 10px;
  padding-top: 10px;
  padding-bottom: 10px;


}

.account_info {
  padding: 20px;


}

.account_edit {
  margin-left: 0;
  display: flex;
  align-items: center;
  border-radius: 10px;
}

.account_edit:hover {
  background: linear-gradient(90deg, #03a9f4, #f441a5);
}


.account_edit_icon {


  height: 50px;
  width: 50px;

}

#account_info_submit:hover {
  background: linear-gradient(90deg, #03a9f4, #f441a5);

}

.auth_section {

  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;

}

.auth_container {

  width: 800px;
  height: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border: 2px solid #e0e0e0;
  border-radius: 25px;
  /* background: #e0e0e0; */
  box-shadow: 5px 5px 16px #5a5a5a,
    -5px -5px 16px #ffffff;
  position: relative;

}

.auth_input {
  width: 300px;
  height: 50px;

  border-radius: 5px;
  border-width: .5px;
  font-size: 15px;

}

#login_icon {
  width: 80px;
  height: 80px;

}

.login_icon_div {
  position: absolute;
  display: flex;
  flex-direction: column;
  top: 20px;


}

.auth_button {

  width: 100px;
  height: 45px;
  border-width: 1px;
  border-radius: 5px;
  font-size: 18px;
}

.auth_button:hover {
  background: linear-gradient(90deg, #03a9f4, #f441a5);


}

.cancel_search{

  position: absolute;
  top: 0;
  right: 0;
  height: 50px;
  width: 50px;
  border-radius: 10px;
  z-index: 1;

}



/* On screens that are less than 700px wide, make the sidebar into a topbar */



@media screen and (max-width: 700px) {
  .sidebar {
    margin-top: 5px;
    width: 100%;
    height: auto;
    position: relative;
  }

  .sidebar a {
    float: left;
  }
  .appbar{
    position: relative;
  }
  div.content {
    margin-left: 0;
    padding-top: 5px;
  }
  .auth_container{
    height: 500px;
    width: 380px;

  }

  .auth_input{
    width: 250px;

  }
  .profile{

    height: 300px;

}
.popup{

  width: 350px;

}
.profile_pic{

  width: 250px;
  height: 250px;
  border-radius: 100%;
}

}

/* On screens that are less than 400px, display the bar vertically, instead of horizontally */
@media screen and (max-width: 412px) {
  .sidebar a {
    
    text-align: center;
    float: left;
    
  }
  .auth_container{
    height: 450px;
    width: 300px;

  }
  .appbar{
    position: relative;
  }
  .auth_input{
    width: 250px;

  }
  div.content {
   padding-top: 5px;
  }
  
  .profile{

      height: 300px;

  }
  .popup{

    width: 250px;
    height: 300px;
  
  }
  .profile_pic{

    width: 200px;
    height: 200px;
    border-radius: 100%;
  }

}